@model MarketPlace.UserInterface.ViewModel.Cart.CartViewModel
@{
    ViewBag.Title = "GetCart";
}

<h2>Your Cart</h2>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-1">
        Quantity
    </div>
    <div class="col-md-1">
        SellingPrice
    </div>
</div>
@{ var totalAmount = 0;}

@foreach (var cartItem in Model.Items)
{
    var counter = 0;
    var SP = cartItem.Quantity * cartItem.SellingPrice;
    totalAmount = totalAmount + SP;
    <div class="row" style="padding:1px 1px 1px 1px;border: 1px solid #e2e6e2;margin-bottom:2px;">
        <div class="col-md-2">
            @foreach (var VariantsImage in cartItem.Variant.VariantImages)
            {
                if (counter == 0)
                {
                    <img src="@VariantsImage.ImageURL" class="img-fluid" alt="Image Not available" style=" height:60px;width:60px;">
                    counter = 1;
                }
            }
        </div>
        <div class="col-md-6">
            <p style=" font-size: 30px;">@cartItem.Variant.Product.Title.ToUpper()</p>
            <p style=" font-style: italic; font-size: 14px;">@cartItem.Variant.Product.Description</p>
        </div>
        <div class="col-md-1" style="margin:12px 0px 12px 0px;">
            @cartItem.Quantity
        </div>
        <div class="col-md-1" style="margin:12px 0px 12px 0px;">
            @SP
        </div>
        <div class="col-md-2" style="margin:12px 0px 12px 0px;">
            <a href="@Url.Action("DeleteCartVariant", "Cart", new {ID = cartItem.ID })">
                <p class="btn btn-danger">Delete</p>
            </a>
        </div>

    </div>
}

<div class="row" style="padding:1px 1px 1px 1px;border: 1px solid #e2e6e2;margin-bottom:2px;">
    <div class="col-md-9" style="margin:12px 0px 12px 0px;">
        TotalAmount
    </div>
    <div class="col-md-1" style="margin:12px 0px 12px 0px;">
        @totalAmount
    </div>

</div>
<div  style="margin:12px 0px 12px 0px;text-align:center;">
    <a href="@Url.Action("Address", "Address")">
        <p class="btn btn-success">Proceed To CheckOut</p>
    </a>
</div>


